<section id="<%= id %>" class="<%= layout %> background-project">
  <div class="desc">
    <div class="desc-action">
      <h2><%= title %></h2>
      <h4><%= date %></h4>
      <div class="btns-container">
        <% btns.forEach(function(btn) { %>
          <a class="btn" href="<%= btn.link %>" target="_blank"><%= btn.text %></a>
        <% }) %>
      </div>
    </div>
    <p></p>
  </div>
  <div class="project-image">
    <img src="<%= image %>" />
  </div>
</section>
