<div class="skills-container">
  <h3>Skills</h3>
  <div class="skills">
    <%- include("skill-expandable", {name: "Client", skills: [ "HTML5", "CSS3", "JavaScript", "Bootstrap", "React.js", "Next.js"]}) %>
    <%- include("skill-expandable", {name: "Server", skills: ["JavaScript", "Express.js", "Java", "Apache Maven", "Spring Boot", "Apache Camel"]}) %>
    <%- include("skill-expandable", {name: "Database", skills: ["SQL", "PostgreSQL", "Sequelize ORM"]}) %>
    <%- include("skill-expandable", {name: "Red Hat", skills: ["OpenShift", "Decision Manager", "Linux"]}) %>
    <%- include("skill-expandable", {name: "Other", skills: ["Git", "GitHub", "Docker", "Selenium WebDriver", "Cucumber"]}) %>
  </div>
</div>
