<div class="skills-container">
  <h3>Skills</h3>
  <div class="skills">
    <%- include("skill-expandable", {name: "Client", skills: [ "HTML5", "CSS3", "JavaScript", "Bootstrap", "SCSS", "LESS", "React.js", "Webpack"]}) %>
    <%- include("skill-expandable", {name: "Server", skills: ["JavaScript", "Node.js", "Express.js", "Next.js", "Java", "Apache Maven", "Spring Boot", "Apache Camel"]}) %>
    <%- include("skill-expandable", {name: "Database", skills: ["SQL", "PostgreSQL", "Sequelize ORM", "MongoDB", "MongoDB Atlas", "Mongoose ODM"]}) %>
    <%- include("skill-expandable", {name: "Red Hat", skills: ["OpenShift", "Decision Manager", "Linux", "EAP/WildFly"]}) %>
    <%- include("skill-expandable", {name: "Other", skills: ["Git", "GitHub", "PhotoShop", "Docker", "Selenium WebDriver", "Cucumber", "bash", "zsh", "Heroku"]}) %>
  </div>
</div>
