<section class="social-links">
  <a href="mailto:derekfoster94@gmail.com" target="_blank"><img src="images/social-media-icons/<%= color %>/email.svg" /></a>
  <a href="https://www.linkedin.com/in/derek-foster/" target="_blank"><img src="images/social-media-icons/<%= color %>/linkedin.svg" /></a>
  <a href="https://github.com/fostimus" target="_blank"><img src="images/social-media-icons/<%= color %>/github.svg" /></a>
  <a href="https://open.spotify.com/user/1218307071?si=Ir3WJzehS9qQe-k_gaJpng" target="_blank"><img src="images/social-media-icons/<%= color %>/spotify.svg" /></a>
  <a href="https://www.yelp.com/user_details?userid=ktbe2eLWnfgu3afRmDIi3g" target="_blank"><img src="images/social-media-icons/<%= color %>/yelp.svg" /></a>
</section>
