<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <title>Derek Foster</title>
    <!-- set viewport to device width to allow responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet/less" type="text/css" href="css/base.less" />
    <link rel="stylesheet/less" type="text/css" href="css/work.less" />
    <script src="js/less.min.js" type="text/javascript"></script>
  </head>

  <body>
    <main class="main">
      <div class="enable-sticky-footer">
        <nav class="dark-bg nav-bar">
          <ul>
            <li class="nav-item"><a href="/">Work</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <!-- for now going back to home. need to include download link -->
            <li class="nav-item"><a href="/">Resume</a></li>
          </ul>
        </nav>

        <section class="flex-column container">
          <div class="limited-width">
            <h2>
              Hello! My name is Derek. I'm a Full-Stack Developer currently
              living in San Francisco.
            </h2>

            <%- include('partials/socials', {background: 'dark-bg', color: 'white'}) %>
          </div>

          <%- include("partials/skills") %>

        </section>

        <!-- need to change "backend-work" to just "work" or "projects" -->
        <section id="background-work" class="dark-bg container">
          <!-- <picture>
            <source media="(min-width: 600px)" srcset="icons/desktop/top-right.svg">
            <img src="icons/mobile/top-right.svg" alt="IfItDoesntMatchAnyMedia">
          </picture> -->
          <img class="line-text-header" src="images/line-text-headers/projects/line-dark.svg" />

          <%- include("partials/project",
          {
              layout: null,
              title: "Better BooThang",
              date: "October 2020",
              btns: [
                {
                  link: "https://github.com/fostimus/better-boothang",
                  text: "Check out the code"
                }
              ],
              image: "images/projects/Welcome.png"
          }) %>

          <%- include("partials/project",
          {
              layout: "flex-reverse",
              title: "Concentration",
              date: "October 2020",
              btns: [
                {
                  link: "https://fostimus-concentration.herokuapp.com/",
                  text: "Play the Game"
                },
                {
                  link: "https://github.com/fostimus/concentration",
                  text: "Check out the code"
                }
              ],
              image: "images/projects/ss3.png"
          }) %>

          <%- include("partials/project",
          {
              layout: null,
              title: "Giveback Ninja Website Modernization",
              date: "April 2020 - September 2020",
              btns: [
                {
                  link: "https://github.com/redhat-cop/ninja-board/tree/v2",
                  text: "Check out the code"
                }
              ],
              image: "images/projects/giveback-ninja.jpg"
          }) %>
        </section>
      </div>

      <footer class="dark-bg container footer">
        <img class="line-text-header" src="images/line-text-headers/get-in-touch/line-dark.svg" />

        <h2 class="limited-width">
          Say hello! Learn more about my life as a professional and a person.
        </h2>

        <div class="btns-container footer-links">
          <a class="btn" href="mailto:derekfoster94@gmail.com" target="_blank">Get in touch</a>
          <a class="btn" href="about.html">Learn about me</a>
        </div>

        <div class="copyright">
          <p>Ingredients: Heart, soul, and lots of coffee</p>
          <br />
          <p>&copy; Derek Foster 2020</p>
        </div>
      </footer>
    </main>
  </body>

</html>
